
body {
		background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  letter-spacing: 0.5px;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 0px;
    padding-top: 30px;
    color: #000;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  padding-top: 25px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #707070
}

h4 {
  color: #000000;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-top: 100px;
    padding-bottom: 50px
}

h5 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

strong {
  font-weight: 400;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}

a {
  color: #cbcfd3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#portfolio,
#about,
#blog,
#contact,
#single-project,
#blog-single-post {
  padding-top: 0px;
  padding-bottom: 20px;
}



.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: center;
}

.section-title h3 {
  color: #555;
  font-weight: 400;
  letter-spacing: 4px;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bdc3c7;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    padding: 18px
    border: none;
    margin-top: 50px;
}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
}

#contact {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
}
/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio small {
  color: #f0f0f0;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#project .project-screen-mid {
  position: relative;
  margin-top: 30px;
  cursor: pointer;
}

#project .project-screen-behance {
  position: relative;
  margin-top: 0px;
  cursor: pointer;
}

#portfolio .portfolio-thumb {
  position: relative;
  margin-top: 30px;
}


#portfolio .portfolio-thumb .portfolio-overlay {
  position: absolute;
  background: #222;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  opacity: 0;
  transition: all 0.4s ease-in-out;

}

#portfolio .portfolio-item {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .text-center {
  padding-top: 62px;
}


/*---------------------------------------
   Single Project section              
-----------------------------------------*/

#single-project {
  text-align: center;
}

#single-project .col-md-12,
#single-project .col-md-6,
#single-project .col-md-4 {
  padding-left: 0px;
  padding-bottom: 0px;
}


#single-project .col-md-12-fl {
  padding-left: 0px;
  padding-bottom: 100px;
}

#single-project .col-md-12 img,
#single-project .col-md-6 img,
#single-project .col-md-4 img {
  cursor: pointer;
  border-radius: 104px;
}

#single-project .col-md-12 {
  padding-top: 42px;
}

#single-project .text-center strong {
  display: block;
  padding-top: 12px;
}

#single-project a {
  color: #555;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 14px;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/
#rights {
    padding-top: 70px;
}


footer {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
}

footer .col-md-3 .fa {
  font-size: 42px;
}

footer a {
  color: #555;
}

footer hr {
  border-color: #ffffff;
  margin-top: 42px;
  margin-bottom: 22px;
}



/*------------------------------------
    Social media
-------------------------------------*/

.dribbble:hover {
    color: #ea4c89;
    font-size: 22px;
}
.behance:hover {
    color: #1769ff;
    font-size: 22px;
}
.instagram:hover {
    color: #bc2a8d;
    font-size: 22px;
}
.facebook:hover {
    color: #3b5998;
    font-size: 22px;
}
.linkedin:hover {
    color: #bc2a8d;
    font-size: 22px;
}


/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/


@media (max-width: 767px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
    line-height: 22px;
  }

  h3 {
    font-size: 18px;
  }
    
  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

  #blog-single-post .blog-post-title h2 {
    font-size: 29px;
    line-height: 40px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }
}



/*------------------------------------
    Zoom popup
-------------------------------------*/

#zoom-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(3,3,3,0.5);
    z-index: 1001;
}

#zoom-popup img {
    position: absolute;

    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 16px 30px 0 rgba(5,5,5,0.2);
}

@media (max-width: 770px) {
    #portfolio .col-md-4, #portfolio .col-sm-6 {
        width: 365px;
        margin: auto;
    }
}

